@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply overflow-x-hidden;
    }
}

@layer components {
    .navlink:has(>a.active) {
        @apply after:w-full;
    }
}

