@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .navlink:has(> a.active) {
    @apply after:w-full;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.feature {
  background-color: #0f1412;
  border-radius: 2rem;
  text-align: center;
  padding: 30px 10px;
  margin: 1rem 0;
}

.feature p {
  color: #4b4948;
}

.feature h1 {
  text-transform: capitalize;
  font-size: bold;
  color: white;
  padding: 1rem 0;
  font-size: 25px;
}