@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .navlink:has(> a.active) {
    @apply after:w-full;
  }
}

.feature {
  background-color: #0f1412;
  border-radius: 2rem;
  text-align: center;
  padding: 30px 10px;
  margin: 1rem 0;
}

/* .feature p {
  color: #4b4948;
} */

.feature h1 {
  text-transform: capitalize;
  font-size: bold;
  color: white;
  padding: 1rem 0;
  font-size: 25px;
}

.feature {
  background-color: #0f1412;
  border-radius: 2rem;
  text-align: center;
  padding: 30px 10px;
  margin: 1rem 0;
}

/* .feature p {
  color: #4b4948;
} */

.feature h1 {
  text-transform: capitalize;
  font-size: bold;
  color: white;
  padding: 1rem 0;
  font-size: 25px;
}
